table.centre {
  margin: 0 auto;
}

table.bordered {
  border: 1px solid black;
  border-collapse: collapse;
}

table.bordered tr,
table.bordered th,
table.bordered td {
  border: 1px solid black;
}

input.error {
  outline: 2px solid tomato;
}

span.error,
p.error {
  color: red;
  font-style: italic;
  font-size: 0.9em;
}

#game-id {
  font-size: 0.8em;
}